@charset "UTF-8";

/* 共通部分------------------------------------------- */

html {
    font-size: 100%;
}

body {
    margin: 0;
    display: flex;
    font-size: 24px;
    min-height: 100vh;
    font-family: "Yu Mincho", YuMincho, "Hiragino Mincho ProN", serif;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


br {
    display: block;
}
    
.side-footer {
    margin-top: auto;
    height: 300px;
}

h1 {
    font-size: 100px;
    text-align: center;
}

/* coming */

.coming-area {
    width: 100%;
}

.coming {
    color: #101010;
    margin: 48px;
    width: 100%;
    height: auto;
}

.coming-link {
    color: #101010;
    margin: 48px;
}

.coming-link:hover {
    color: blue;
}

/* a:hover {
    color: #f6bf00;
} */


/* 大きな画像背景 ------------------------------------ */
.big-bg {
    width: 100%;
    height: 960px;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#home {
    background-image: url(room.png);
}


/* HEADER------------------------------------------- */
header {
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 8px;
    background: linear-gradient(to bottom, rgba(77, 77, 77, 1), rgba(33, 33, 33, 0.3)) ;
    /* background: #212121 ; */
    float: left;
    box-shadow: 2px 2px 4px -2px #212121;
    display: flex;
}

.logo {
    margin: 0;
    padding: 0;
    width: 180px;
}

.header-menu {
    display: flex;
    text-align: center;
    margin-right: 48px;
    margin-left: auto;
}

.header-list {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.header-text {
    color: #ffffff;
    text-shadow: 1px 2px 3px rgb(33, 33, 33, 0.9);
}

.header-text:hover {
    color: #0411FF;
}

.header-sub {
    font-size: 10px;
}

/* .hamburger {
    display: none;
    box-shadow: 2px 2px 4px -2px #212121;
} */

.drawer {
    display: none;
}

/* primary -------------------------------------------- */
.primary {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #f6bf00;
    color: white;
    padding-top: 100px;
    padding-bottom: 155px;
    box-shadow: 8px 8px 16px -2px #212121;
    /* flex: 1; */
}

.primary-title {
    margin-top: 96px;
    text-shadow: 1px 2px 3px rgb(182, 182, 182);
}

.primary-sub {
    text-align: center;
    text-shadow: 1px 2px 3px rgb(182, 182, 182);
}

.primary-text {
    text-align: center;
    margin-top: 48px;
    font-size: 24px;
    text-shadow: 0.5px 1px 1.5px rgb(182, 182, 182);
}

.primary-link-area {
    text-align: center;
    margin-top: 16px;
}

.primary-link {
    margin-top: 30px;
    color: white;
    text-shadow: 0.5px 1px 1.5px rgba(182, 182, 182);
}

.primary-link:hover {
    color: #0411FF;
    }

.primary-button-area {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.primary-button {
    height: auto;
    width: auto;
    margin-top: 32px;
    background-color: #0411FF;
    border-radius:15px;
    padding: 8px;
    box-shadow: 2px 2px 4px -2px #212121;
}

.primary-button:hover {
    background-color: #47B6E6;
}



/*  secondary-------------------------------------- */
.secondary {
    width: 100%;
    height: auto;
    /* background-color: #f6bf00; */
    background: radial-gradient( #f6bf00, #ffffff);

}

.secondary-area {
    width: 80%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
}

.secondary-title {
    font-size: 72px;
    text-align: center;
    margin: 48px;
    text-shadow: 0.5px 1px 1.5px rgb(182, 182, 182);
}

.secondary-text-area {
    width: 64%;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.secondary-text {
    font-size: 24px;
    text-shadow: 0.5px 1px 1.5px rgb(182, 182, 182);
}

.secondary-link-area {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 24px;
}

.secondary-link {
    color:  #1c2447;
    padding-bottom: 24px;
    text-shadow: 0.5px 1px 1.5px rgb(182, 182, 182);
}

.secondary-link:hover {
    color: #0411FF;
}
/*  tertiary-------------------------------------- */
.tertiary {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #101010;
}

.tertiary-area {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.tertiary-title {
    /* border:1px solid #101010; */
    text-align : center;
    font-size: 48px;
    padding: 15px;
    text-shadow: 1px 2px 3px rgba(33, 33, 33, 0.5);
}

.tertiary-sub {
    border:1px solid #101010;
    text-align : center;
    padding: 15px;
    text-shadow: 1px 2px 3px rgba(33, 33, 33, 0.5);
}

.tertiary-table {
    display: flex;
}

.tertiary-table li {
    width : calc(100% / 3) ;
    border:1px solid #101010;
}

.tertiary-image {
    text-align : center;
    /* border:1px solid #101010; */
}

.tertiary-img {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.5);
}

.tertiary-button {
    position:relative;
    width:100%;
    height:96px;
    background-color:#ffffff;
    /* border:1px solid #101010; */
}

.tertiary-button .tertiary-link{
    color: #0411FF;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align : center;
}

.tertiary-button .tertiary-link:hover {
    color: #f6bf00;
}

.tertiary-link {
    margin-top: 24px;
    text-shadow: 1px 2px 3px rgba(230, 230, 230, 0.5);
}

.tertiary-text {
    height: auto;
    padding: 20px;
    text-align : left;
}

.tertiary-main-text {
    font-size: 16px;
    max-height: 320px;
    margin-bottom: 10px;
    text-shadow: 0.5px 1px 1.5px rgba(33, 33, 33, 0.5);
}

/*  quaternary-------------------------------------- */

.quaternary {
    width: 100%;
    height: auto;
    background-color: #101010;
}

.quaternary-area {
    width: 70%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align : center;
}

.quaternary-title {
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.quaternary-contents {
    text-align: center;
}

.quaternary-sub-area {

}

.quaternary-sub {
    margin: 32px;
    text-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.5);
}

.quaternary-tile-area {
    
}

.quaternary-tile {
    display: flex;
}

.quaternary-content-area {
    width: 50%;
    max-width: 480px;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.quaternary-text {
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    text-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.5);
}

.quaternary-img {
    width: 100%;
    height: auto;
    max-height: 320px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.quaternary-summary {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.quaternary-summary-text {
    margin-top: 24px;
    text-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.5);
}

.quaternary-button {
    height: auto;
    width: auto;
    margin-top: 24px;
    background-color: #0411FF;
    border-radius:15px;
    padding: 8px;
    box-shadow: 2px 2px 4px -2px #212121;
}

.quaternary-button:hover {
    background-color: #f6bf00;
}

/*  quinary-------------------------------------- */
.quinary {
    height: auto;
    color: #101010;
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quinary-area {
    width: 65%;
    padding: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align : center;
    border:5px solid #FF2700;
}

.quinary-title-area {
    /* margin-bottom: 32px; */
}

.quinary-title {
    color: #FF2700;
    margin-bottom: 24px;
    /* border:1px solid #101010; */
}

.quinary-main-area {
    width: 80%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.quinary-main-title {
    margin-bottom: 24px;
}

.quinary-main-sub {
    /* color: #f6bf00; */
    margin-bottom: 24px;
}

.quinary-main-text {
    margin-bottom: 32px;
    font-size: 20px;
}

.quinary-link {
    color: #101010;
}

.quinary-link:hover {
    color: #0411FF;
}

.quinary-button {
    height: auto;
    width: auto;
    margin-top: 24px;
    margin-bottom: 32px;
    color: #ffffff;
    background-color: #0411FF;
    border-radius:15px;
    padding: 8px;
    box-shadow: 2px 2px 4px -2px #212121;
}

.quinary-button:hover {
    background-color: #f6bf00;
}


/*  footer-------------------------------------- */

.footer {
    height: 400px;
    background-color: #101010;
    padding-top: 48px;
}

.footer-area {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.footer-menu {
    display: flex;
}

.footer-text-left {
    margin-left: auto;
    margin-right: auto;
}

.footer-text-center {
    margin-left: auto;
    margin-right: auto;
}

.footer-text-right {
    margin-left: auto;
    margin-right: auto;
}

.footer-text-title {
    font-size: 16px;
    margin-top: 12px;
}

hr {
    border-width: 1px 0px 0px 0px; /* 太さ */
    border-style: solid; /* 線種 */
    border-color: white;   /* 線色 */
    height: 1px;         /* 高さ(※古いIE用) */
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer-text-list {
    list-style: disc;
    margin-left: 24px;
    margin-right: auto;
    font-size: 12px;
}

.footer-text-link {
    width: 80%;
    margin-bottom: 6px;
}

.footer-link {
    color: #ffffff;
}

.footer-link:hover{
    color: #f6bf00;
}


.copyright-area {   
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
}

/* レスポンシブ 1000px ---------------------------------------*/
@media screen and (max-width: 1000px) {
    /* header ----------------------------------------------*/
    .header-text {
        display: none;
    }
    .hamburger {
        display: block;
    }
    /* header ----------------------------------------------*/
    /* primary ---------------------------------------------*/
    .primary {
        width: 80%;
    }
    .primary-title {
        font-size: 64px;
    }
    .primary-text {
        font-size: 16px;
    }
    /* primary ---------------------------------------------*/
    /* secondary -------------------------------------------*/
    .secondary-area {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    /* secondary -------------------------------------------*/
    /* tertiary --------------------------------------------*/
    .tertiary-area {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .tertiary-title {
        padding: 0%;
        font-size: 28px;
    }
    .tertiary-sub {
        padding: 2%;
        font-size: 20px;
    }
    .tertiary-table {
        display: block;
    }
    .tertiary-table li {
        width : 100%;
        border:1px solid #101010;
    }
    .tertiary-link {
        font-size: 20px;
        margin-top: 0%;
        padding-top: 5%;
    }
    .tertiary-text {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10%;
        padding-left: 10%;
    }
    /* tertiary --------------------------------------------*/
    /* quaternary ------------------------------------------*/
    .quaternary-area {    
        width: 90%;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .quaternary-title {
        font-size: 24px;
    }
    .quaternary-sub {
        font-size: 20px;
        margin: 24px 1% 1% 1%; 
        border:1px solid #ffffff;
    }
    .quaternary-tile {
        /* display: block; */
    }
    .quaternary-content-area {
        width: 100%;
    }
    .quaternary-summary {
        width: 100%;
    }
    .quaternary-summary-text {
        font-size: 16px;
    }
    .quaternary-button {
        font-size: 16px;
    }
    /* quaternary ------------------------------------------*/
    /* quinary ---------------------------------------------*/
    .quinary {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .quinary-area {
        width: 90%;
        padding: 1%;
    }
    .quinary-title-area {
        margin: 0;
    }
    .quinary-title {
        font-size: 24px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .quinary-sub {
        font-size: 20px;
    }
    .quinary-main-area {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;

    }
    .quinary-main-title {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .quinary-main-sub {
        margin: 2%;
        margin-bottom: 0px;
        font-size: 18px;
        border:1px solid #101010;
    }
    .quinary-main-text {
        padding: 2%;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .quinary-link {
        font-size: 20px;
    }
    .quinary-button {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    /* quinary ---------------------------------------------*/
    /* footer ----------------------------------------------*/
    .footer-area {
        width: 85%;
    }
    /* footer ----------------------------------------------*/

    /*------------------------------

    ここから下がハンバーガーメニュー
    に関するCSS

    ------------------------------*/

    /* チェックボックスは非表示に */
    .drawer {
        display: block;
    }

    .drawer-title {
        text-align: center;
        margin-top: 120px;
        font-size: 64px;
        text-shadow: 0.5px 1px 1.5px rgba(33, 33, 33, 0.8);
    }

    .drawer-menu {
        /* display: flex; */
        text-align: center;
        margin-top: 32px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }

    .drawer-harf {
        margin-right: auto;
        margin-left: auto;
    }

    .drawer-section {
        
    }
    
    .drawer-list {
        padding-bottom: 24px;
    }

    .drawer-text {
        font-size: 24px;
        color: #ffffff;
    }
    
    .drawer-text {
        text-shadow: 1px 2px 3px rgb(33, 33, 33, 0.9);
    }
    
    .drawer-text:hover {
        color: #0411FF;
    }
    
    .drawer-sub {
        font-size: 16px;
    }

    .drawer-hidden {
    display: none;
    }
    
    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
    }
    
    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
    bottom: 8px;
    }
    
    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
    top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になるように上下の線を回転 */
    #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
    }
    
    #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
    }
    
    /* メニューのデザイン*/
    .drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/* メニューを画面の外に飛ばす */
    z-index: 99;
    /* background-color: rgb(33, 33, 33, 0.9); */
    background: rgba(246, 191, 0, 0.9);
    transition: .5s;
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
    }
}
/* レスポンシブ 1000px ---------------------------------------*/


/* レスポンシブ 600px ----------------------------------------*/
@media screen and (max-width: 600px) {
    /* header ----------------------------------------------*/
    .drawer-title {
        font-size: 32px;
        margin-top: 80px;
    }
    .drawer-text {
        font-size: 20px;
    }
    /* header ----------------------------------------------*/
    /* primary ---------------------------------------------*/
    .primary {
        width: 90%;
        padding-top: 55px;
        padding-bottom: 48px;
    }
    .primary-title {
        font-size: 28px;
        margin-top: 24px;
    }
    .primary-sub {
        font-size: 20px;
        padding: 2%;
    }
    .primary-text {
        margin-top: 20px;
    }
    .primary-link {
        font-size: 20px;
    }
    .primary-link-area {
        margin-top: 10px;
        padding: 1%;
    }
    .primary-button {
        font-size: 16px;
        margin-top: 0;
        margin-left: 5%;
        margin-right: 5%;
    }
    .primary-button-area {
        margin-top: 16px;
    }
    /* primary ---------------------------------------------*/
    /* secondary -------------------------------------------*/
    .secondary-area {
        width: 90%;
    }
    .secondary-title {
        font-size: 32px;
        margin: 2%;
    }
    .secondary-text-area {
        width: 80%;
        padding-bottom: 0;

    }
    .secondary-text {
        margin-top: 16px;
        font-size: 20px;
        margin-bottom: 16px;
    }
    .secondary-link-area{
        margin: 0;
    }
    .secondary-link {
        font-size: 20px;
        padding-bottom: 16px;
    }
    /* secondary -------------------------------------------*/
    /* tertiary --------------------------------------------*/
    .tertiary-area {
        width: 90%;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .tertiary-title {
        padding: 0%;
        font-size: 28px;
    }
    .tertiary-sub {
        padding: 2%;
        font-size: 20px;
    }
    .tertiary-table {
        display: block;
    }
    .tertiary-table li {
        width : 100%;
        border:1px solid #101010;
    }
    .tertiary-link {
        font-size: 20px;
        margin-top: 0%;
        padding-top: 5%;
    }
    .tertiary-text {
        padding: 4%;
    }
    /* tertiary --------------------------------------------*/
    /* quaternary ------------------------------------------*/
    .quaternary-area {
        width: 90%;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .quaternary-title {
        font-size: 24px;
    }
    .quaternary-sub {
        font-size: 20px;
        margin: 24px 1% 1% 1%; 
        border:1px solid #ffffff;
    }
    .quaternary-tile {
        display: block;
    }
    .quaternary-content-area {
        width: 100%;
    }
    .quaternary-summary {
        width: 100%;
    }
    .quaternary-summary-text {
        font-size: 16px;
    }
    .quaternary-button {
        font-size: 16px;
    }
    /* quaternary ------------------------------------------*/
    /* quinary ---------------------------------------------*/
    .quinary {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .quinary-area {
        width: 90%;
        padding: 1%;
    }
    .quinary-title-area {
        margin: 0;
    }
    .quinary-title {
        font-size: 24px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .quinary-sub {
        font-size: 20px;
    }
    .quinary-main-area {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;

    }
    .quinary-main-title {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .quinary-main-sub {
        margin: 2%;
        margin-bottom: 0px;
        font-size: 18px;
        border:1px solid #101010;
    }
    .quinary-main-text {
        padding: 2%;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .quinary-link {
        font-size: 20px;
    }
    .quinary-button {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    /* quinary ---------------------------------------------*/
    /* footer ----------------------------------------------*/
    .footer-area {
        width: 96%;
    }
    .footer-menu li{
        /* width: calc(100%/3); */
    }
    .footer-text-title {
        font-size: 10px;
    }
    .footer-text-list {
        margin-left: 12px;
        margin-right: auto;
    }
    .footer-text-list li{
        padding: 0;
    }
    .footer-text-link {
        font-size: 8px;
    }
    /* footer ----------------------------------------------*/
}
/* レスポンシブ 600px ----------------------------------------*/
